<div class="contact-container">
  <img class="c-banner" src="/assets/contact-banner.png" />
  <div class="contact-logos">
    <div class="call">
      <img
        class="call-image"
        src="/assets/Screenshot_2024-05-03_155252-removebg-preview.png"
      />
      <p>9444822169</p>
    </div>
    <div class="mail">
      <img class="mail-image" src="/assets/mail-contact.png" />
      <p>{{ email }}</p>
    </div>
    <div class="location">
      <img class="location-image" src="/assets/location-contact.png" />
      <p>
        Apt Masala 35 Trunk Road <br />Madurantakam ST, Chengalpattu DT
        <br />
        pincode - 603306
        <br />
        Tamil Nadu, India
      </p>
    </div>
  </div>
</div>
